:root {
    --textWidth: 30ch;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.container {
    max-width: 90%;
    padding-top: 3%;
}

.slider-wrapper {
    margin: 0 auto;

    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    
    background-color: khaki;
    border-radius: 20px;

    overflow: hidden;
}

.slide {
    width: 90%;
}

.slide-img {
    width: 100%;
    height: 560px;
    border-radius: 20px;
    padding-bottom: 10px;
    background: cover no-repeat;
}

.slide-text {
    color: #000000;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;

    border-right: 2px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    /* width: 30ch; */
    width: var(--textWidth);
    animation: printCursor 0.5s step-end infinite, printedText 1s steps(textWidthCss);
}

.dots {
    position: absolute;
    bottom: 10%;
    right: 5%;

    display: flex;
}

.dot {
    width: 20px;
    height: 20px;
    margin: 2px;

    border-radius: 100%;
    background-color: lightgreen;
}

.dot:hover {
    cursor: pointer;
}

.invisible {
    display: none;
}

.active {
    background-color: blue;
}

@keyframes printCursor {
    0% {
        border-color: #ffffff;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #ffffff;
    }
}

@keyframes printedText {
    from {
        width: 0;
    }
    to {
        /* width: 30ch; */
        width: var(--textWidth);
    }
}