:root {
    --textWidthCh: 30ch;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #35363d;
}

.container {
    max-width: 90%;
    padding-top: 3%;
}

.slider-wrapper {
    margin: 0 auto;

    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;

    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* align-items: center; */
    position: relative;
    
    background-color:  #35363d;
    border: 2px solid #414247;
    border-radius: 20px;

    overflow: hidden;
}

.slide {
    width: 90%;
}

.slide-img {
    width: 100%;
    height: 560px;
    border-radius: 20px;
    padding-bottom: 10px;
    background: cover no-repeat;
}

.slide-text {
    color: #fbfbfc;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;

    border-right: 2px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    width: var(--textWidthCh);
}
.text-dots-wpapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dots {
    display: flex;
}

.dot {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    border-radius: 100%;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #878891 inset, 0 0 0 0 #878891;
    transition: all 150ms ease-in-out;
}

.dot:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #878891 inset, 0 0 10px 4px #878891;
    transform: scale(0.5);
}

.invisible {
    display: none;
}

.active {
    box-shadow: 0 0 10px 0 #878891 inset, 0 0 10px 4px #878891;
}

.link {
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

@keyframes printCursor {
    0% {
        border-color: #ffffff;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #ffffff;
    }
}

@keyframes printedText {
    from {
        width: 0;
    }
    to {
        width: var(--textWidthCh);
    }
}

.animatedImg {
    animation: RightToLeft 1s; 
}

.animatedText {
    animation: printCursor 0.5s step-end infinite, printedText 1s;
}
 
@keyframes RightToLeft {
    0% {
        transform: translateX(100%);
    }
    50%{
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

