:root {
    --textWidthCh: 30ch;
    --textWidth: 30;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.container {
    max-width: 90%;
    padding-top: 3%;
}

.slider-wrapper {
    margin: 0 auto;

    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    
    background-color: khaki;
    border-radius: 20px;

    overflow: hidden;
}

.slide {
    width: 90%;
}

.slide-img {
    width: 100%;
    height: 560px;
    border-radius: 20px;
    padding-bottom: 10px;
    background: cover no-repeat;
}

.slide-text {
    color: #000000;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;

    border-right: 2px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    width: var(--textWidthCh);
    animation: printCursor 0.5s step-end infinite, printedText 1.5s steps(var(--textWidth));
}

.dots {
    position: absolute;
    bottom: 10%;
    right: 5%;

    display: flex;
}

.dot {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    border-radius: 100%;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}

.dot:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.invisible {
    display: none;
}

.active {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

@keyframes printCursor {
    0% {
        border-color: #ffffff;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #ffffff;
    }
}

@keyframes printedText {
    from {
        width: 0;
    }
    to {
        width: var(--textWidthCh);
    }
}
  